<section class = Profile>
<h2>Bienvenido @ViewBag.nombre . Estos son tus datos personales:</h2>
<ul>
    <li>Nombre de usuario: @ViewBag.nombreUser</li>
    <li>Contraseña: @ViewBag.password</li>
    <li>Nombre y apellido: @ViewBag.nombre @ViewBag.surnombre</li>
    <li>DNI: @ViewBag.DNI</li>
    <li>Direccion: @ViewBag.direction</li>
    <li>Barrio: @ViewBag.Neighborhoodigh</li>
</ul>
<a href="Index.html"><img src="C:\Users\49627045\Desktop\dsads\TPnoNumero\TPnoNumero\wwwroot\IMAGENES\Casa.jpg" alt=""></a>
</section>