<h2>Bienvenido @ViewBag.name . Estos son tus datos personales:</h2>
<ul>
    <li>Nombre de usuario: @ViewBag.nombreUser</li>
    <li>Contraseña: @ViewBag.password</li>
    <li>Nombre y apellido: @VieBag.name @ViewBag.surname</li>
    <li>DNI: @ViewBag.DNI</li>
    <li>Direccion: @VieBag.direction</li>
    <li>Barrio: @VieBag.Neighborhoodigh</li>
</ul>