<section class = Profile>
<h2>Bienvenido @ViewBag.nombre . Estos son tus datos personales:</h2>

<div>
    <ul>
        <li>Nombre de usuario: @ViewBag.nombreUser</li><br/>
        <li>Contraseña: @ViewBag.password</li><br/>
        <li>Nombre y apellido: @ViewBag.nombreCompleto</li><br/>
        <li>DNI: @ViewBag.DNI</li><br/>
        <li>Direccion: @ViewBag.direction</li><br/>
        <li>Barrio: @ViewBag.Neighborhood</li><br/>
    </ul>
</div>
<a href='@Url.Action("aHome", "Home")' >Home</a>
</section>